<html>
<head>
</head>
<body>

<h1> Pending Requests: </h1>
{% if pending_requests %}
	{% for open_request in pending_requests %}
		<h2>{{open_request.follower}}</h2>
		<button><a href="accept_request/{{open_request.follower}}">Accept</a></button>
		<button><a href="decline_request/{{open_request.follower}}">Decline</a></button>
		<br>
	{% endfor %}
{% endif %}
<br>
<br>
<form action="/send_request">
<input type="text" name="follow_search">
<button type="submit" value="Send Follow Request">Send Follow Request</button>
</form>

<a href="/home">Go Back</a>

</body>


</html>
